<div class="container">
  <div class="wrapper">
    <div class="form">
      <div class="header"><h2>Formulario de Registro</h2></div>
      <div class="body">
        <form>
          <div class="row">
            <div class="field">
              <label>ID</label>
              <input type="text" name="id" />
              <span class="error">Mensaje de Error</span>
            </div>
            <div class="field">
              <label>Nombre</label>
              <input type="text" name="name" />
              <span class="error">Mensaje de Error</span>
            </div>
          </div>
          <div class="row">
            <div class="field">
              <label>Descripción</label>
              <input type="text" name="description" class="error" />
              <span class="error">Mensaje de Error</span>
            </div>
            <div class="field">
              <label>Logo</label>
              <input type="text" name="logo" />
              <span class="error">Mensaje de Error</span>
            </div>
          </div>
          <div class="row">
            <div class="field">
              <label>Fecha de liberación</label>
              <input type="text" name="release-check" />
              <span class="error">Mensaje de Error</span>
            </div>
            <div class="field">
              <label>Fecha de revisión</label>
              <input type="text" name="review-check" />
              <span class="error">Mensaje de Error</span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tools">
      <button>Reiniciar</button>
      <button class="submit">Enviar</button>
    </div>
  </div>
</div>
