<div class="container">
  <div class="tools">
    <input type="text" placeholder="Search ..." (input)="onSearch($event)" />
    <button class="action" [routerLink]="['../products', 'new']">
      Agregar
    </button>
  </div>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th class="logo">Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of pageData">
          <td class="logo">
            <img src="{{ product.logo }}" />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.releaseCheck }}</td>
          <td>{{ product.reviewCheck }}</td>
          <td class="actions">
            <app-dropdown-menu
              id="{{ product.id }}"
              (onDelete)="delete($event)"
            ></app-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <div class="total">
        <span>{{ count }} Resultados</span>
      </div>
      <select *ngIf="showPager" class="pager" (change)="onChangePage($event)">
        <option
          *ngFor="let item of [].constructor(pageCount); let i = index"
          value="{{ i + 1 }}"
        >
          Página {{ i + 1 }}
        </option>
      </select>
    </div>
  </div>
  <button (click)="onShowModal()">Show Modal</button>
  <!-- The Modal -->
  <div id="myModal" class="modal" [style]="showModal ? 'display:block' : ''">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="message">
        <p>
          ¿Estas seguro que quieres eliminar el producto [Titulo del Producto]?
        </p>
      </div>
      <div class="buttons">
        <button class="cancel" (click)="closeModal()">Cancelar</button>
        <button class="confirm">Confirmar</button>
      </div>
    </div>
  </div>
</div>
